@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --bg-hard: #1d2021;
  --bg:   #282828;
  --bg-soft: #32302f;
  --bg1:  #3c3836;
  --bg2:  #504945;
  --bg3:  #665c54;
  --bg4:  #7c6f64;

  --fg:  #fbf1c7;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  --fg3: #bdae93;
  --fg4: #a89984;

  --red:    #fb4934;
  --green:  #b8bb26;
  --yellow: #fabd2f;
  --blue:   #83a598;
  --purple: #d3869b;
  --aqua:   #8ec07c;
  --gray:   #928374;
  --orange: #fe8019;

  --red-dim:    #cc2412;
  --green-dim:  #98971a;
  --yellow-dim: #d79921;
  --blue-dim:   #458588;
  --purple-dim: #b16286;
  --aqua-dim:   #689d6a;
  --gray-dim:   #a89984;
  --orange-dim: #d65d0e;
}

#home {
  color: var(--aqua);
  padding: 14px 16px;
  font-size: 20px;
}

a {
  color: var(--blue);
}

a:hover {
  color: var(--purple);
}

body {
  background-color: var(--bg-hard);
  background-image:
    radial-gradient(var(--fg), rgba(251, 241, 199, .2) 2px, transparent 30px),
    radial-gradient(var(--fg), rgba(251, 241, 199, .15) 1px, transparent 20px),
    radial-gradient(var(--fg), rgba(251, 241, 199, .1) 2px, transparent 30px),
    radial-gradient(rgba(251, 241, 199, .4), rgba(251, 241, 199, .1) 2px, transparent 20px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  font-family: Roboto;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  position: fixed;
  height: 100%;
  text-align: right;
  border-style: none dashed none none;
  border-color: var(--red);
}

ul.navbar li a {
  color: var(--red);
  text-decoration: none;
}

ul.navbar li {
  display: block;
  color: var(--yellow);
  font-size: 20px;
  padding: 8px 16px;
  font-weight: bold;
}

ul.navbar li a:hover {
  color: var(--blue);
}

div.content {
  margin-left: 25%;
  padding: 1px 2px;
  height: 100%;
}

.articleCommon {
  color: var(--purple-dim);
  padding: 14px 16px;
}

.article2 {
  color: var(--orange-dim);
}

.headlineCommon {
  text-decoration: underline wavy;
}

iframe {
  border: none;
}
