:root {
  --bg-hard: #1d2021;
  --bg:      #282828;
  --bg-soft: #32302f;
  --bg1:     #3c3836;
  --bg2:     #504945;
  --bg3:     #665c54;
  --bg4:     #7c6f64;

  --fg:  #fbf1c7;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  --fg3: #bdae93;
  --fg4: #a89984;

  --red-dim:    #fb4934;
  --green-dim:  #b8bb26;
  --yellow-dim: #fabd2f;
  --blue-dim:   #83a598;
  --purple-dim: #d3869b;
  --aqua-dim:   #8ec07c;
  --gray-dim:   #928374;
  --orange-dim: #fe8019;

  --red:    #cc2412;
  --green:  #98971a;
  --yellow: #d79921;
  --blue:   #458588;
  --purple: #b16286;
  --aqua:   #689d6a;
  --gray:   #a89984;
  --orange: #d65d0e;
}

@font-face {
  font-family: RobotoMonoMedium;
  src: url(fonts/RobotoMono/Roboto\ Mono\ Medium\ Nerd\ Font\ Complete\ Mono\ Windows\ Compatible.ttf);
}

@font-face {
  font-family: CheltenhamCondensed;
  src: url(fonts/CheltenhamCondensed/Cheltenham\ Condensed\ Bold\ Italic.ttf);
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: CheltenhamCondensed;
  src: url(fonts/CheltenhamCondensed/Cheltenham\ Condensed\ Bold.ttf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: CheltenhamCondensed;
  src: url(fonts/CheltenhamCondensed/Cheltenham\ Condensed\ Italic.ttf);
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: CheltenhamCondensed;
  src: url(fonts/CheltenhamCondensed/Cheltenham\ Condensed\ Regular.ttf);
  font-style: normal;
  font-weight: normal;
}

#home {
  color: var(--fg4);
  /*padding: 14px 16px;*/
  font-size: 20px;
}

a {
  color: var(--blue);
}

a:hover {
  color: var(--purple);
}

body {
  background-color: var(--bg-hard);
  background-image:
    radial-gradient(var(--fg), rgba(251, 241, 199, .2) 2px, transparent 30px),
    radial-gradient(var(--fg), rgba(251, 241, 199, .15) 1px, transparent 20px),
    radial-gradient(var(--fg), rgba(251, 241, 199, .1) 2px, transparent 30px),
    radial-gradient(rgba(251, 241, 199, .4), rgba(251, 241, 199, .1) 2px, transparent 20px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  font-family: RobotoMonoMedium;
}

ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  position: fixed;
  height: 100%;
  text-align: right;
  border-style: none dashed none none;
  border-color: var(--red);
  overflow: auto;
}

ul.navbar li a {
  color: var(--red);
  text-decoration: none;
}

ul.navbar li {
  display: block;
  color: var(--yellow);
  padding: 8px 16px;
  font-size: 30px;
  font-weight: bold;
}

ul.navbar li.navbarTitle {
  text-decoration-line: underline;
  text-decoration-style: dashed;
}

ul.navbar li a:hover {
  color: var(--purple);
}

div.content {
  margin-left: 25%;
  padding: 14px 16px;
  height: 100%;
  font-family: CheltenhamCondensed;
  overflow: none;
}

@media screen and (max-width: 900px) {
  ul.navbar {
    width: 100%;
    height: auto;
    position: fixed;
    border-style: none none dashed none;
  }

  ul.navbar li {
    float: left;
    padding: 10px;
  }

  div.content {
    margin-left: 0;
    overflow: auto;
  }
}

.articleCommon {
  color: var(--fg2);
  /*padding: 14px 16px;*/
}

.article2 {
  color: var(--orange);
}

.article1 {
  color: var(--fg);
  font-style: italic;
  font-weight: bold;
}

.headlineCommon {
  text-decoration: underline wavy;
}

.contentCommon {
  font-size: 20px;
}

iframe {
  border: none;
  width: 100% !important;
  max-width: 100% !important;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-hard: #f9f5d7;
    --bg:      #fbf1c7;
    --bg-soft: #f2e5bc;
    --bg1:     #ebdbb2;
    --bg2:     #d5c4a1;
    --bg3:     #bdae93;
    --bg4:     #a89984;

    --fg:  #282828;
    --fg1: #3c3836;
    --fg2: #504945;
    --fg3: #665c54;
    --fg4: #7c6f64;

    --red-dim:    #9d0006;
    --green-dim:  #79740e;
    --yellow-dim: #b57614;
    --blue-dim:   #076678;
    --purple-dim: #8f3f71;
    --aqua-dim:   #427b58;
    --orange-dim: #af3a03;
    --gray-dim:   #928374;

    --red:    #cc2412;
    --green:  #98971a;
    --yellow: #d79921;
    --blue:   #458598;
    --purple: #b16286;
    --aqua:   #689d6a;
    --orange: #d65d0e;
    --gray:   #7c6f64;
  }

  body {
    background-image: url(images/pattern_140.gif);
  }
}
