@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --bg-hard: #1d2021;
  --bg:   #282828;
  --bg-soft: #32302f;
  --bg1:  #3c3836;
  --bg2:  #504945;
  --bg3:  #665c54;
  --bg4:  #7c6f64;

  --fg:  #fbf1c7;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  --fg3: #bdae93;
  --fg4: #a89984;

  --red:    #fb4934;
  --green:  #b8bb26;
  --yellow: #fabd2f;
  --blue:   #83a598;
  --purple: #d3869b;
  --aqua:   #8ec07c;
  --gray:   #928374;
  --orange: #fe8019;

  --red-dim:    #cc2412;
  --green-dim:  #98971a;
  --yellow-dim: #d79921;
  --blue-dim:   #458588;
  --purple-dim: #b16286;
  --aqua-dim:   #689d6a;
  --gray-dim:   #a89984;
  --orange-dim: #d65d0e;
}

#home {
  color: var(--aqua);
  background-color: var(--bg-soft);
  padding: 14px 16px;
}

body {
  background-color: var(--bg-hard);
  background-image: url("images/floral.jpg");
  font-family: Roboto;
}

li.navbarLink {
  float: left;
}

li.navbarLink a {
  display: block;
  color: var(--fg);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.navbarTitle {
  text-align: center;
  padding: 14px 16px;
  display: block;
  float: right;
  color: var(--green-dim);
}

li.navbarLink a:hover {
  background-color: var(--bg-hard);
}

ul.navbar {
  list-style-type: none;
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  padding: 0;
  margin: 0;
  background-color: var(--bg);
  top: 0;
  border-color: var(--green-dim);
  border-style: none none solid none;
}

.articleCommon {
  background-color: var(--bg);
  color: var(--purple-dim);
  padding: 14px 16px;
  border: dashed 2px;
}

.article2 {
  background-color: var(--bg);
  color: var(--orange-dim);
  border: solid 2px;
}
